@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    --bg: #fcfcfc;
    --bg-nav: #ebebeb;
    --bg-list-item: #e0dfdf;
    --color-headings: #0077ff;
    --color-text: #333333;
    --success: #17b978;
    --primary: #035fc8;
    --bg-popup: #d4dadd;
    --error: #d72323;
    --detail-bg: rgb(204, 199, 199);
}

html[data-theme="dark"] {
    --bg: #333333;
    --bg-nav: #434343;
    --bg-list-item: #4b4b4b;
    --bg-popup: #828485;
    --color-headings: #3694ff;
    --color-text: #b5b5b5;
    --detail-bg: rgb(126, 117, 117);
}

h1 {
    color: var(--color-text);
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
}
$body-padding: 8vh 0px 0px 0px;

body {
    background-color: var(--bg);
    padding: $body-padding;
}
.App {
    display: flex;
    #left {
        width: 50%;
        padding: 5px 5px 5px 20px;
    }
    #right {
        position: fixed;
        right: 0px;
        width: 50%;
        overflow: hidden;
        max-height: 90%;
        overflow-y: auto;
        padding: 5px 20px 5px 5px;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .App {
        flex-direction: column;
        align-items: center;
        #left {
            width: 100%;
            padding: 0px 10px;
        }
        #right {
            width: 100%;
            padding: 0px 10px;
            position: initial;
        }
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
}
